My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $binary.Invoice_File.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "id": "0444a308-e8ee-4da1-8820-2d8933fd1743"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8821da4c-fee9-4182-a422-efb0533553f2",
      "name": "🔍 Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1904,
        48
      ],
      "notes": "Determines if the uploaded file is a PDF or an image. PDFs need conversion; images proceed directly."
    },
    {
      "parameters": {
        "jsCode": "// Pass image file directly — no conversion needed\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const binaryData = item.binary;\n    const binaryKey = Object.keys(binaryData)[0];\n    const fileData = binaryData[binaryKey];\n    \n    const base64Data = fileData.data;\n    const mimeType = fileData.mimeType || 'image/jpeg';\n    \n    results.push({\n      json: {\n        image_base64: base64Data,\n        mime_type: mimeType,\n        source_type: 'image',\n        filename: fileData.fileName || 'invoice.jpg',\n        page_count: 1\n      },\n      binary: binaryData\n    });\n  } catch (error) {\n    results.push({\n      json: {\n        error: `Image processing failed: ${error.message}`,\n        source_type: 'image'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "674cd4de-91bb-4110-8209-25fa50752a90",
      "name": "🖼️ Pass Image Directly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        272
      ],
      "notes": "Passes JPG/JPEG/PNG images directly without conversion. Extracts base64 data for Vision API."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "dd2daf35-2720-4902-a6d8-c2a73e3c4cea",
      "name": "🔀 Merge Image Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1312,
        112
      ],
      "alwaysOutputData": true,
      "notes": "Merges PDF-converted and direct image paths into a single stream for Vision processing."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "116Smasu_YegEDz48AUqMw2NM2Z6M-BkGdr4OaV_yMCU",
          "mode": "list",
          "cachedResultName": "Invoice Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/116Smasu_YegEDz48AUqMw2NM2Z6M-BkGdr4OaV_yMCU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/116Smasu_YegEDz48AUqMw2NM2Z6M-BkGdr4OaV_yMCU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=invoice_number",
              "lookupValue": "={{ $json.invoice_number }}"
            },
            {
              "lookupColumn": "=vendor",
              "lookupValue": "={{ $json.vendor }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2bae21c-dd75-457a-90ad-282e834052ac",
      "name": "📊 Google Sheets - Check Duplicate",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        160,
        -240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ZvADTNKwkzlzsd5",
          "name": "Google Sheets account"
        }
      },
      "notes": "Searches 'Invoice Database' sheet for existing invoice number. Also checks Vendor+Amount+Date combo for duplicate detection."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.invoice_number }}",
              "rightValue": {},
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "id": "355b2625-2db5-4a9a-8526-48caed2ec7f7"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "189b1819-bf7e-4f8c-adc0-1bed3321343e",
      "name": "⚠️ IF - Duplicate Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        128
      ],
      "notes": "Checks if the Google Sheets lookup returned a match. If yes → duplicate alert. If no → continue processing."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19Qzn2NtUqjmxcwFqR8VIvhnsqQJwLKe19eRtSdH5P_I",
          "mode": "list",
          "cachedResultName": "Invoice Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Qzn2NtUqjmxcwFqR8VIvhnsqQJwLKe19eRtSdH5P_I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp ": "={{$now}}",
            "Vendor": "={{$node[\"Clean & Normalize Data\"].json.vendor}}",
            "Invoice Number": "={{$node[\"Clean & Normalize Data\"].json.invoice_number}}",
            "Invoice Date": "={{$now}}",
            "Due Date": "={{$now}}",
            "Amount": "0",
            "Currency": "INR",
            "Tax": "0",
            "Subtotal": "0",
            "category": "={{$node[\"Clean & Normalize Data\"].json.category}}",
            "Fraud Score": "={{ $json['Fraud Score'] }}",
            "Risk Level": "={{ $json['Risk Level'] }}",
            "Fraud Remark": "={{ $json['Key Findings'] }}",
            "Processing Status": "={{$now}}",
            "Recommendation ": "={{ $json.Recommendations }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp ",
              "displayName": "Timestamp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tax",
              "displayName": "Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fraud Score",
              "displayName": "Fraud Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fraud Remark",
              "displayName": "Fraud Remark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommendation ",
              "displayName": "Recommendation ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Processing Status",
              "displayName": "Processing Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fc307aab-76dc-48fd-8762-4ff9d96e4ef4",
      "name": "📊 Google Sheets - Store Invoice",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2384,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nzd3UkcZFNIqkh0G",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Appends processed invoice data to Google Sheets database with all fields including fraud analysis results."
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"On form submission1\"].json[\"Your Email Adress\"]}}",
        "subject": "=✅ AI Invoice Processing Report - {{$node[\"Clean & Normalize Data\"].json.vendor}} | {{$node[\"Clean & Normalize Data\"].json.invoice_number}}",
        "message": "=<h2>Invoice Processing Complete</h2>\n\n<p><b>Vendor:</b> {{$node[\"Clean & Normalize Data\"].json.vendor}}</p>\n\n<p><b>Invoice Number:</b> {{$node[\"Clean & Normalize Data\"].json.invoice_number}}</p>\n\n<p><b>Invoice Date:</b> {{$node[\"Clean & Normalize Data\"].json.invoice_date}}</p>\n\n<p><b>Due Date:</b> {{$node[\"Clean & Normalize Data\"].json.due_date}}</p>\n\n<p><b>Amount:</b> {{$node[\"Clean & Normalize Data\"].json.amount}}</p>\n\n<p><b>Category:</b> {{$node[\"Clean & Normalize Data\"].json.category}}</p>\n\n<p><b>Fraud Score:</b> {{$node[\"Clean & Normalize Data\"].json.fraud_score}}</p>\n\n<p><b>Risk Level:</b> {{$node[\"Clean & Normalize Data\"].json.risk_level}}</p>\n\n<p><b>Analysis:</b> {{$node[\"Clean & Normalize Data\"].json.analysis}}</p>\n\n<p><b>Processed At:</b> {{$now}}</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": []
          }
        }
      },
      "id": "cb0a0c30-2bbd-4734-9068-1ce2e7e6e988",
      "name": "📧 Gmail - Send Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2656,
        256
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "6eb119e0-05a1-4c00-8db4-1d3489d2f53a",
      "credentials": {
        "gmailOAuth2": {
          "id": "C327xHKKUFoHuLsW",
          "name": "Gmail account"
        }
      },
      "notes": "Sends detailed HTML email with invoice summary, categorization, fraud analysis, and attached Excel report."
    },
    {
      "parameters": {
        "jsCode": "// Error handler — log failures to console and return structured error\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const errorInfo = {\n    timestamp: new Date().toISOString(),\n    error_type: 'PROCESSING_FAILURE',\n    error_message: item.json.error || 'Unknown error occurred',\n    invoice_data: item.json,\n    node: $workflow.name\n  };\n  \n  console.error('Invoice Processing Error:', JSON.stringify(errorInfo));\n  \n  results.push({\n    json: errorInfo\n  });\n}\n\nreturn results;"
      },
      "id": "1e84e71b-320b-401a-9a10-b0f35d7c99ef",
      "name": "❌ Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        384
      ],
      "notes": "Catches and logs errors from critical nodes. Records failure details for audit trail."
    },
    {
      "parameters": {
        "formTitle": "AI Invoice Processor",
        "formDescription": "Welcome! I am your AI Invoice Processor.\n\nUpload an invoice PDF or image and I will:\n\n✅ Extract invoice details\n✅ Detect fraud risk\n✅ Categorize expenses\n✅ Generate a report\n✅ Email the results automatically",
        "formFields": {
          "values": [
            {
              "fieldLabel": "📄 Upload your invoice file",
              "fieldType": "file"
            },
            {
              "fieldLabel": "👋 Enter your email",
              "fieldType": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -2256,
        240
      ],
      "id": "8c6e969b-7bfd-49e8-9d86-e4368c0c8926",
      "name": "On form submission1",
      "webhookId": "9bb90681-3ac1-48f8-9c68-9673f09d7470"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output;\n\nconst cleaned = text\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst ai = JSON.parse(cleaned);\n\nreturn [\n  {\n    json: ai\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        208
      ],
      "id": "23242824-0152-4a65-8afc-97cc7c15bea2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f08b944-b705-4be4-acd9-4f1175058531",
              "name": "=email",
              "value": "",
              "type": "string"
            },
            {
              "id": "e0874fbb-01d8-4dd6-8f01-2f966dac93a0",
              "name": "Your Email Adress",
              "value": "={{ $json[\"Your Email Adress\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        192
      ],
      "id": "e7cf3dca-3bc1-42a7-b185-f024698c8932",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -576,
        176
      ],
      "id": "b0abaea4-c005-4b92-8dc0-68cb56d3e168",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    email: $json.email,\n\n    vendor: $json.vendor,\n    invoice_number: $json.invoice_number,\n    invoice_date: $json.invoice_date,\n    due_date: $json.due_date,\n    amount: $json.amount,\n    category: $json.category,\n    fraud_score: $json.fraud_score,\n    risk_level: $json.risk_level,\n    analysis: $json.analysis\n  }\n}];"
      },
      "id": "ead562cc-3980-4f81-9f7e-10fa657ad5cd",
      "name": "Clean & Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -16
      ],
      "notes": "Normalizes all invoice data: dates → YYYY-MM-DD, amounts → numbers, vendor names → Title Case, removes nulls and duplicate spaces."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an invoice analysis assistant.\n\nInvoice Text:\n{{ $json.text }}\n\nExtract invoice information.\n\nAlso generate:\n\n- category (Software, Travel, Utilities, Office Supplies, Marketing, etc.)\n- fraud_score (0-100)\n- risk_level (Low, Medium, High)\n- analysis (short explanation)\n\nReturn ONLY valid JSON:\n\n{\n  \"vendor\": \"\",\n  \"invoice_number\": \"\",\n  \"invoice_date\": \"\",\n  \"due_date\": \"\",\n  \"amount\": \"\",\n  \"category\": \"\",\n  \"fraud_score\": \"\",\n  \"risk_level\": \"\",\n  \"analysis\": \"\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert invoice processing assistant.\n\nExtract invoice data accurately.\nReturn only JSON.\nDo not include explanations.\nReturn ONLY raw JSON.\nDo not use ```json.\nDo not use markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1104,
        112
      ],
      "id": "8a53bf39-f54e-48d0-a9c2-a47ba4d1e337",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1248,
        320
      ],
      "id": "9676205e-2782-49a1-927c-5e9820cfa32e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Edn44jzbxEMXuVIm",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this invoice JSON:\n\n{{ JSON.stringify($json) }}\n\nReturn JSON only.",
        "options": {
          "systemMessage": "You are an AI Invoice Fraud Detection Assistant.\n\nAnalyze the invoice and determine:\n\n- Fraud Score (0-100)\n- Risk Level (LOW, MEDIUM, HIGH)\n- Fraud Indicators\n- Recommendations\n\nIf duplicate_detected = true:\n\n- Mark \"Duplicate Invoice Detected: YES\"\n- Set Risk Level to HIGH\n- Increase Fraud Score to 80 or higher\n- Explain that the invoice appears to have been submitted previously\n- Recommend manual review before payment approval\n\nIf duplicate_detected = false:\n\n- Perform normal fraud analysis\n\nAlways include:\n\n- Duplicate Invoice Detected\n- Fraud Score\n- Risk Level\n- Key Findings\n- Recommendations"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1600,
        144
      ],
      "id": "b6212a19-1046-40bf-aa50-5fdb31f0147e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1600,
        320
      ],
      "id": "f6ac9aab-b658-4a1e-9501-1ac9565a7d92",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "Edn44jzbxEMXuVIm",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Invoice_File",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1552,
        32
      ],
      "id": "0de354b9-5052-4e1d-8bcc-7ec411f65236",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        176
      ],
      "id": "e9a01be5-47f5-4d7a-9731-fb5a33be6e9d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2d77fad-b8e8-4517-99bb-324fc8b9b61a",
              "name": "duplicate_detected.",
              "value": "true",
              "type": "string"
            },
            {
              "id": "6370007d-450a-4af7-b7be-bdf921661e12",
              "name": "risk_level",
              "value": "high",
              "type": "string"
            },
            {
              "id": "e31de05a-f9d9-460c-84bd-21f2f8ecaec6",
              "name": "fraud_score",
              "value": "90",
              "type": "string"
            },
            {
              "id": "09df91ad-3233-4e37-b0d9-f6b1b4c15de5",
              "name": "analysis",
              "value": "=Duplicate invoice detected. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -32
      ],
      "id": "a7094e7e-95f5-4148-b890-82b6822b0633",
      "name": "Set duplicate = true"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0462c88-753a-498c-94e9-7d726c58d4ca",
              "name": "duplicate_detected",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        160
      ],
      "id": "67f95ad8-1d43-40cf-b656-199e012aa385",
      "name": "Duplicate detector = false"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json.output);\n\nreturn [\n  {\n    json: data\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        32
      ],
      "id": "b5d574b5-8426-4e3c-ab6c-1016cb05db67",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      duplicate_detected: $input.all().length > 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "ffa1dbc5-83aa-47b2-ac91-022d7c2b9a54",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        144
      ],
      "id": "6f4c47c4-d94f-4104-9de3-073d8ddd36d9",
      "name": "Merge2"
    }
  ],
  "pinData": {},
  "connections": {
    "🔍 Check File Type": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🖼️ Pass Image Directly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ Pass Image Directly": {
      "main": [
        [
          {
            "node": "🔀 Merge Image Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Merge Image Paths": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Google Sheets - Check Duplicate": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚠️ IF - Duplicate Detected?": {
      "main": [
        [
          {
            "node": "Set duplicate = true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate detector = false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Google Sheets - Store Invoice": {
      "main": [
        [
          {
            "node": "📧 Gmail - Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail - Send Report": {
      "main": [
        []
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "📊 Google Sheets - Store Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "🔍 Check File Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Normalize Data": {
      "main": [
        [
          {
            "node": "📊 Google Sheets - Check Duplicate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "🔀 Merge Image Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Clean & Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set duplicate = true": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate detector = false": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "⚠️ IF - Duplicate Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b82dc89d-874f-4b4d-b000-826168c813a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af8c03b70a1e2e57472f75050064509d2b10dc6c41ac144a5788f8bfa9ad715"
  },
  "nodeGroups": [],
  "id": "M1hmoP5bYwqSrHoo",
  "tags": []
}