My workflow webhok.json
{
  "name": "My workflow webhok",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ JSON.stringify($binary) }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "id": "0444a308-e8ee-4da1-8820-2d8933fd1743"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "165a5f9a-1511-4f94-9015-37fdb987cbca",
      "name": "🔍 Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1904,
        48
      ],
      "notes": "Determines if the uploaded file is a PDF or an image. PDFs need conversion; images proceed directly."
    },
    {
      "parameters": {
        "jsCode": "// Pass image file directly — no conversion needed\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const binaryData = item.binary;\n    const binaryKey = Object.keys(binaryData)[0];\n    const fileData = binaryData[binaryKey];\n    \n    const base64Data = fileData.data;\n    const mimeType = fileData.mimeType || 'image/jpeg';\n    \n    results.push({\n      json: {\n        image_base64: base64Data,\n        mime_type: mimeType,\n        source_type: 'image',\n        filename: fileData.fileName || 'invoice.jpg',\n        page_count: 1\n      },\n      binary: binaryData\n    });\n  } catch (error) {\n    results.push({\n      json: {\n        error: `Image processing failed: ${error.message}`,\n        source_type: 'image'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "1c54bc33-328b-453a-a7f0-87d031020676",
      "name": "🖼️ Pass Image Directly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        272
      ],
      "notes": "Passes JPG/JPEG/PNG images directly without conversion. Extracts base64 data for Vision API."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "024373ab-9f1c-4c75-bec7-7f3f8cdeb533",
      "name": "🔀 Merge Image Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1312,
        112
      ],
      "alwaysOutputData": true,
      "notes": "Merges PDF-converted and direct image paths into a single stream for Vision processing."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "116Smasu_YegEDz48AUqMw2NM2Z6M-BkGdr4OaV_yMCU",
          "mode": "list",
          "cachedResultName": "Invoice Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/116Smasu_YegEDz48AUqMw2NM2Z6M-BkGdr4OaV_yMCU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/116Smasu_YegEDz48AUqMw2NM2Z6M-BkGdr4OaV_yMCU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=invoice_number",
              "lookupValue": "={{ $json.invoice_number }}"
            },
            {
              "lookupColumn": "=vendor",
              "lookupValue": "={{ $json.vendor }}"
            }
          ]
        },
        "options": {}
      },
      "id": "86774303-044e-44d4-8e0a-7fb22c67c829",
      "name": "📊 Google Sheets - Check Duplicate",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        16,
        -112
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ZvADTNKwkzlzsd5",
          "name": "Google Sheets account"
        }
      },
      "notes": "Searches 'Invoice Database' sheet for existing invoice number. Also checks Vendor+Amount+Date combo for duplicate detection."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.invoice_number }}",
              "rightValue": {},
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "id": "355b2625-2db5-4a9a-8526-48caed2ec7f7"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3cb46dd3-208f-438c-9db2-f15fe0167d9e",
      "name": "⚠️ IF - Duplicate Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        128
      ],
      "notes": "Checks if the Google Sheets lookup returned a match. If yes → duplicate alert. If no → continue processing."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19Qzn2NtUqjmxcwFqR8VIvhnsqQJwLKe19eRtSdH5P_I",
          "mode": "list",
          "cachedResultName": "Invoice Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Qzn2NtUqjmxcwFqR8VIvhnsqQJwLKe19eRtSdH5P_I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp ": "={{$now}}",
            "Vendor": "={{$node[\"Clean & Normalize Data\"].json.vendor}}",
            "Invoice Number": "={{$node[\"Clean & Normalize Data\"].json.invoice_number}}",
            "Invoice Date": "={{$now}}",
            "Due Date": "={{$now}}",
            "Currency": "INR",
            "Tax": "0",
            "Subtotal": "0",
            "category": "={{$node[\"Clean & Normalize Data\"].json.category}}",
            "Fraud Score": "={{ $json['Fraud Score'] }}",
            "Risk Level": "={{ $json['Risk Level'] }}",
            "Fraud Remark": "={{ $json['Key Findings'] }}",
            "Processing Status": "={{$now}}",
            "Recommendation ": "={{ $json.Recommendations }}",
            "Amount": "={{$node[\"Clean & Normalize Data\"].json.amount}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp ",
              "displayName": "Timestamp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tax",
              "displayName": "Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fraud Score",
              "displayName": "Fraud Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fraud Remark",
              "displayName": "Fraud Remark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommendation ",
              "displayName": "Recommendation ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Processing Status",
              "displayName": "Processing Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0eb82b95-ed0b-4d72-a37a-3326088a1aec",
      "name": "📊 Google Sheets - Store Invoice",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2384,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nzd3UkcZFNIqkh0G",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Appends processed invoice data to Google Sheets database with all fields including fraud analysis results."
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Webhook\"].json.body.email}}",
        "subject": "=AI Invoice Processing Report - {{$json[\"Vendor\"]}} - {{$json[\"Invoice Number\"]}}",
        "message": "=<h2>🤖 AI Invoice Processing Report</h2><hr><p><b>Vendor:</b> {{$json[\"Vendor\"]}}</p><p><b>Invoice Number:</b> {{$json[\"Invoice Number\"]}}</p><p><b>Invoice Date:</b> {{$json[\"Invoice Date\"]}}</p><p><b>Amount:</b> {{$json.amount || $json.Amount}}{{$json[\"Currency\"]}}</p><hr><h3>🚨 Fraud Analysis</h3><p><b>Fraud Score:</b> {{$json[\"Fraud Score\"]}} / 100</p><p><b>Risk Level:</b> {{$json[\"Risk Level\"]}}</p><p><b>Analysis:</b></p><p>{{$json[\"Fraud Remark\"]}}</p><hr><h3>📋 Recommendation</h3><p>{{$json[\"Recommendation \"]}}</p><hr><p><b>Processed By:</b> AI Invoice Fraud Detection System</p><p><b>Timestamp:</b> {{$json[\"Timestamp \"]}}</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": []
          }
        }
      },
      "id": "aa837278-5ccd-461c-8df1-f8c97ebc664e",
      "name": "📧 Gmail - Send Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2656,
        256
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "5b8e902d-c5c2-4965-9e16-4cc800a7b5db",
      "credentials": {
        "gmailOAuth2": {
          "id": "C327xHKKUFoHuLsW",
          "name": "Gmail account"
        }
      },
      "notes": "Sends detailed HTML email with invoice summary, categorization, fraud analysis, and attached Excel report."
    },
    {
      "parameters": {
        "jsCode": "// Error handler — log failures to console and return structured error\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const errorInfo = {\n    timestamp: new Date().toISOString(),\n    error_type: 'PROCESSING_FAILURE',\n    error_message: item.json.error || 'Unknown error occurred',\n    invoice_data: item.json,\n    node: $workflow.name\n  };\n  \n  console.error('Invoice Processing Error:', JSON.stringify(errorInfo));\n  \n  results.push({\n    json: errorInfo\n  });\n}\n\nreturn results;"
      },
      "id": "c07bc01e-614c-41e4-9455-355c8c084a09",
      "name": "❌ Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        384
      ],
      "notes": "Catches and logs errors from critical nodes. Records failure details for audit trail."
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output;\n\nconst cleaned = text\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst ai = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    ...$('Set duplicate = true').first().json,\n    ...ai\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        208
      ],
      "id": "72502fff-3b3f-4774-ba53-3c6c1e1aada8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f08b944-b705-4be4-acd9-4f1175058531",
              "name": "=email",
              "value": "",
              "type": "string"
            },
            {
              "id": "e0874fbb-01d8-4dd6-8f01-2f966dac93a0",
              "name": "Your Email Adress",
              "value": "={{ $json[\"👋 Enter your email\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        192
      ],
      "id": "4870edc1-61df-4a80-9f37-1fa0acf97b32",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -576,
        176
      ],
      "id": "8cd64795-c1b4-479c-97b3-9bdf4a019cc9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    email: $json.email,\n\n    vendor: $json.vendor,\n    invoice_number: $json.invoice_number,\n    invoice_date: $json.invoice_date,\n    due_date: $json.due_date,\n    amount: $json.amount,\n  \n fraud_score: $json.fraud_score,\n    risk_level: $json.risk_level,\n    analysis: $json.analysis\n  }\n}];"
      },
      "id": "d2aa4061-34cf-44d4-b705-511f7c40efdb",
      "name": "Clean & Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -16
      ],
      "notes": "Normalizes all invoice data: dates → YYYY-MM-DD, amounts → numbers, vendor names → Title Case, removes nulls and duplicate spaces."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert Invoice Fraud Detection and Expense Analysis AI.\n\nAnalyze the uploaded invoice and extract ONLY information present in the document.\n\nIMPORTANT:\n\n- Never invent values.\n- Never use sample values.\n- Never use placeholders.\n- If a value is not found, return an empty string.\n- Extract the exact amount shown on the invoice.\n- If a Grand Total, Total Amount, Amount Due, or Total Payable exists, use that as amount.\n- Preserve original currency and dates from the invoice.\n- Return only valid JSON.\n\nReturn JSON in this format:\n\n{\n\"vendor\": \"\",\n\"invoice_number\": \"\",\n\"invoice_date\": \"\",\n\"due_date\": \"\",\n\"amount\": \"\",\n\"currency\": \"\",\n\"duplicate_detected\": false,\n\"duplicate_reason\": \"\",\n\"fraud_score\": 0,\n\"risk_level\": \"\",\n\"fraud_reasons\": [],\n\"summary\": \"\",\n\"analysis\": \"\"\n}\nFraud Detection Rules:\n\nAssign risk_level based only on evidence found in the invoice.\n\nLow:\n- Complete invoice\n- Vendor details present\n- Invoice number present\n- Amounts are consistent\n- No duplicate detected\n- No suspicious indicators\n\nMedium:\n- Missing minor information\n- Minor inconsistencies\n- Unusual formatting\n- Some suspicious indicators but not enough to confirm fraud\n\nHigh:\n- Duplicate invoice\n- Missing vendor or invoice number\n- Missing tax details (when expected)\n- Amount mismatch\n- Obvious alterations or multiple serious fraud indicators\n\nScoring:\n- Low = 0–30\n- Medium = 31–70\n- High = 71–100\n\nIf duplicate_detected is false and no fraud indicators are present, return:\n\"fraud_score\": 0,\n\"risk_level\": \"Low\",\n\"fraud_reasons\": [],\n\"analysis\": \"No significant fraud indicators detected.\"\nInvoice Content:\n\n{{ $json.text }}\n\nAnalyze ONLY the invoice content above.\n\nDo not use prior knowledge.\nDo not guess.\nDo not generate sample values.\nIf a value is missing, return \"\".\n\nReturn ONLY valid JSON.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert invoice processing assistant.\n\nExtract invoice data accurately.\nReturn only JSON.\nDo not include explanations.\nReturn ONLY raw JSON.\nDo not use ```json.\nDo not use markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1104,
        112
      ],
      "id": "49b9bdba-8700-4565-95e9-f4cfc74b2766",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1248,
        320
      ],
      "id": "a71b362d-9ce3-4692-929c-8cfde07f0f44",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Edn44jzbxEMXuVIm",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this invoice JSON:\n\n{{ JSON.stringify($json) }}\n\nReturn JSON only.",
        "options": {
          "systemMessage": "You are an AI Invoice Fraud Detection Assistant.\n\nAnalyze the invoice and determine:\n\n- Fraud Score (0-100)\n- Risk Level (LOW, MEDIUM, HIGH)\n- Fraud Indicators\n- Recommendations\n\nIf duplicate_detected = true:\n\n- Mark \"Duplicate Invoice Detected: YES\"\n- Set Risk Level to HIGH\n- Increase Fraud Score to 80 or higher\n- Explain that the invoice appears to have been submitted previously\n- Recommend manual review before payment approval\n\nIf duplicate_detected = false:\n\n- Perform normal fraud analysis\n\nAlways include:\n\n- Duplicate Invoice Detected\n- Fraud Score\n- Risk Level\n- Key Findings\n- Recommendations"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1600,
        144
      ],
      "id": "7185226f-a970-448f-b012-1b3f8c829222",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1600,
        320
      ],
      "id": "eb7d89ae-2299-4097-b2ab-2f1219addb57",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "Edn44jzbxEMXuVIm",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1552,
        32
      ],
      "id": "6d99ba6d-becf-4dff-8023-bda1a385bece",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        176
      ],
      "id": "d5b59955-6fa1-4006-b194-df652f1c4dc1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2d77fad-b8e8-4517-99bb-324fc8b9b61a",
              "name": "duplicate_detected.",
              "value": "true",
              "type": "string"
            },
            {
              "id": "6370007d-450a-4af7-b7be-bdf921661e12",
              "name": "risk_level",
              "value": "high",
              "type": "string"
            },
            {
              "id": "e31de05a-f9d9-460c-84bd-21f2f8ecaec6",
              "name": "fraud_score",
              "value": "90",
              "type": "string"
            },
            {
              "id": "09df91ad-3233-4e37-b0d9-f6b1b4c15de5",
              "name": "analysis",
              "value": "=Duplicate invoice detected. ",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -32
      ],
      "id": "bf269155-0849-4db8-856e-e23f82c9f592",
      "name": "Set duplicate = true"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0462c88-753a-498c-94e9-7d726c58d4ca",
              "name": "duplicate_detected",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        160
      ],
      "id": "140044e2-9f2a-42b0-8a7f-079363197caa",
      "name": "Duplicate detector = false"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json.output);\n\nreturn [\n  {\n    json: data\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        32
      ],
      "id": "e559012b-45df-4391-9644-49d78073d88a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nreturn [\n  {\n    json: {\n      duplicate_detected: Object.keys(item).length > 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "5115d9d5-943b-45de-8b90-122a5c24dd3a",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        144
      ],
      "id": "cb59b715-ecfa-4749-b42d-53e400314e57",
      "name": "Merge2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice-ai",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2304,
        192
      ],
      "id": "e951675c-24a8-4a0b-bbf0-2d891aa384d2",
      "name": "Webhook",
      "webhookId": "67c72a1f-986d-4fa0-b05f-85bd114d6a3c"
    }
  ],
  "pinData": {},
  "connections": {
    "🔍 Check File Type": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🖼️ Pass Image Directly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ Pass Image Directly": {
      "main": [
        [
          {
            "node": "🔀 Merge Image Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Merge Image Paths": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Google Sheets - Check Duplicate": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚠️ IF - Duplicate Detected?": {
      "main": [
        [
          {
            "node": "Set duplicate = true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate detector = false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Google Sheets - Store Invoice": {
      "main": [
        [
          {
            "node": "📧 Gmail - Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail - Send Report": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "📊 Google Sheets - Store Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "🔍 Check File Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Normalize Data": {
      "main": [
        [
          {
            "node": "📊 Google Sheets - Check Duplicate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "🔀 Merge Image Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Clean & Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set duplicate = true": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate detector = false": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "⚠️ IF - Duplicate Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "98c25855-d430-4740-95b5-c90d51779677",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af8c03b70a1e2e57472f75050064509d2b10dc6c41ac144a5788f8bfa9ad715"
  },
  "nodeGroups": [],
  "id": "jOXl0hwtNo7H4vMq",
  "tags": []
}